{{#each friends}}
<div class="imya group" >
    <img class="ellipse-1" src="{{photo_100}}" alt="">
    <p class="text-6">{{first_name}} {{last_name}}</p>
    <a href="#">
        <img class="rounded-rectangle-5-2" src="images/rounded_rectangle_5_3.png" data-side="left" data-id="{{id}}" alt="" width="16" height="16">
    </a>
</div>
{{/each}}