<script type="text/javascript" src="https://vk.com/js/api/openapi.js?122"></script>

<p class="text-4">Ваши друзья</p>
<p class="text-5">Друзья в списке</p>
<div class="lines group">
    <div id="friends" class="col-2">

    </div>
    <div id="friendsInList" class="col-3">

    </div>
</div>

<div>
    <button id="loadFriends" class="rounded-rectangle-4-holder">загрузить список друзей</button>
</div>
<div class="save">
    <button class="rounded-rectangle-4-holder">Сохранить</button>
</div>