<script type="text/javascript" src="https://vk.com/js/api/openapi.js?122"></script>

<p class="text-4">Ваши друзья</p>
<p class="text-5">Друзья в списке</p>
<div class="lines group">
    <div id="friends-left" class="col-2">

    </div>
    <div id="friends-right" class="col-3">

    </div>
</div>

<div class="save">
    <button id="save" class="rounded-rectangle-4-holder">Сохранить</button>
</div>