<!doctype html>
<html>

<head>
    <title>Другофильтр</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="firasans/firasans.css">
    <!--[if IE 6]>
	<style type="text/css">
		* html .group {
			height: 1%;
		}
	</style>
  <![endif]-->
    <!--[if IE 7]>
	<style type="text/css">
		*:first-child+html .group {
			min-height: 1px;
		}
	</style>
  <![endif]-->
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
    <div class="global_container_">
        <img class="group-2" src="images/group_2.png" alt="" width="102" height="24">
        <div class="background-holder">
            <div class="group-1">
                <div class="header">
                    <div class="rectangle-1-holder group">
                        <a href="#"><img class="rounded-rectangle-5" src="images/rounded_rectangle_5_9.png" alt="" width="14" height="14"></a>
                        <p class="text">Выберите друзей</p>
                    </div>
                    <div class="row group">
                        <div class="rounded-rectangle-2-holder group">
                            <form>
                                <img class="text-2" src="images/image.png" alt="" width="13" height="15" title="">
                                <input class="text-3" type="text" placeholder="Начните вводить имя друга" size="33">
                            </form>
                        </div>
                        <form>
                            <div class="rounded-rectangle-2-holder-2">
                                <img class="text-2" src="images/image.png" alt="" width="13" height="15" title="">
                                <input class="text-3" type="text" placeholder="Название" size="27">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="wrapper-4">
                    {{> "./index-content.hbs"}}
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>